*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FECA1D;
}

.main-container{
  width: 85vw;
  margin: 50px auto;
}

.chart-container {
  position: relative; /*Chart request*/
  height: 75vh;
  padding: 10px;
  border-radius: 10px;
  background-color: #fbfad4;
}
.continents-container{
  display: flex;
  justify-content: center;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fbfad4;
}
/*Countries List*/
.countries-container{
  padding: 10px;
  border-radius: 10px;
  background-color: #fbfad4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.country{
  position: relative;
  min-height: 50px;
  margin: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:#FECA1D;
  border-radius: 10px;
} 
.country::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: .5s ease;
}
.country:hover::before {
  opacity: 0.2;
  cursor: pointer;
}
.country-info{
  background:#FECA1D;
  border-radius: 10px;
  position: absolute;
  bottom: calc(100% + 10px);
  left:0;
  width:100%;
}

.doughnut-container{
  position: relative; /*Chart request*/
  background:#FECA1D;

  border-radius: 10px;
  background-color: #fbfad4;
}
.pie-graph{
  background-color:#FECA1D;
}

/* Hide El */
.hide {
  visibility: hidden;
}